<legend class="text-center">关于我们</legend>
<div class="text-center">
	<%= link_to "穿衣利器", root_path%>是由startx团队发起，该团队成员目前就读于<a href="http://www.hit.edu.cn/" target="_blank">哈尔滨工业大学</a><a href="http://www.cs.hit.edu.cn/" target="_blank">计算机科学与技术学院</a>，该项目已开源于<a href="https://github.com/" target="_blank">github</a>，地址为：<a href="https://github.com/robotlyb/get_address" target="_blank">穿衣利器</a>
</div>
