<legend class="text-center">帮助</legend>
<div class="offset3">

	<ol>
		<li>
			我不知道怎么穿衣怎么办？<br />
				答：主页有搜索方案的按钮，可以根据自己的要求搜索

		</li>
		<li>
			我没有搜索到想要的结果怎么办？<br />
				答：可以点击我要提问按钮，等待达人们的回答
		</li>
		<li>
			我的邮箱填错了怎么改？<br />
				答：用户中心下有设置按钮，可以更改
		</li>
		<li>
			我想改用户名？<br />
				答：与邮箱修改办法相同
		</li>
		<li>
			我能分享我自己的方案吗？<br />
				答：可以，网站导航下有我要分享按钮
		</li>
		<li>
			可以查看我问过的问题和我分享过的方案吗？<br />
				答：可以，网站导航中就有链接
		</li>
		<li>
			我能查看所有人的分享吗？<br />
				答：可以,网站导航中有相应链接
		</li>
		<li>
			我怎么回答别人的问题？<br />
				答：点击进入要回答的问题，再点击分享经验给TA，就可以编辑回答了
		</li>
		<li>
			我能评论别人的分享吗？<br />
				答：可以，方法类似于回答问题，不过记得给个评分哦~
		</li>
		<li>
			搜索到的结果是怎么排序的？<br />
				答：是按照用户评分由高到低排序的
		</li>
	</ol>
</div>
