<% if signed_in? %>
	<% if flash[:success]%>
		<%= flash[:success]%>
	<% end %>	
	<div class="row">
		<aside class="span4">
			<section>
				<%= render 'shared/user_info'%>
			</section>
			<section>
				<%= render 'shared/note_form'%>
			</section>
		</aside>
	</div>
<% else %>

	<div class="center hero-unit">
		<h1>欢迎来到穿衣利器论坛！</h1>
		<h2>想成为穿衣达人？不知道怎么穿衣搭配？这里有资深的达人为你解决穿衣的烦恼！</h2>
		<%= link_to "加入论坛",signup_path, class: "btn btn-large btn-info"%>
	</div>
<% end %>		
