<%if object.errors.any?%>
	<div id="error_explanation">
		<div class="alert alert-error">
			表单填写<%= pluralize(object.errors.count,"错误")%>。
		</div>
		<ul>
			<% object.errors.full_messages.each do |msg|%>
				<li>*<%= msg%></li>
			<% end %>
		</ul>
	</div>
<% end %>
